<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.Partial("")
        </footer>
    </div>
</body>
</html>
