
<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">

        <a href="@Url.Action("Dashboard", "Admin")" class="logo">
            <strong><i class="fa fa-glass"></i>E-Beverage</strong>
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->
    <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img alt="" src="~/Content/adminImages/avatar-mini-3.jpg">
                    <span class="username">@this.User.Identity.Name</span>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li><a href="@Url.Action("CustomerInformation", "Admin")"><i class="fa fa-cog"></i>Admin Info</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
            <li>
                <div class="toggle-right-box">
                    <div class="fa fa-bars"></div>
                </div>
            </li>
        </ul>
        <!--search & user info end-->
    </div>
</header>