<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i>
                        <span>Customers</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("CustomerOrders", "Admin")">Orders</a></li>
                        <li><a href="#">Users Information</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Categories</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("AllProducts", "Admin")">All Products</a></li>
                        <li><a href="#">Beers</a></li>
                        <li><a href="#">Spirits</a></li>
                        <li><a href="#">Whiskeys</a></li>
                        <li><a href="#">Wines</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Mail </span>
                    </a>
                    <ul class="sub">
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Compose Mail</a></li>
                        <li><a href="#">View Mail</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-star"></i>
                        <span>Extra</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("LockScreen", "Admin")">Lock Screen</a></li>
                        <li><a href="#">Registration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>Login Page</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
