@using Entities.Items


<!--=================== Ajax Cart Dialog ===================-->
<div class="modal fade paira-cart-popup" id="paira-ajax-cart" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    @if ((List<Item>)Session["cart"] != null)
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12 cart-table">
                            <h3 class="margin-bottom-20 text-capitalize text-color-1">Shopping Cart</h3>
                            <div class="cart-table-inner text-center">
                                <link href="~/vue3/dist/main.css" rel="stylesheet" />
                                <div id="app-cart"></div>
                                <script src="~/vue3/dist/main.js"></script>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
}
<!--=================== Loading Image ===================-->
