<!--=================== Footer Container ===================-->

    <!--=================== Footer Top Section ===================-->
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--=================== Social Icons Footer ===================-->
                    <div class="pull-left">
                        <ul class="list-inline paira-margin-bottom-1">
                            <li><span class="display-inline-b"><i class="fa fa-facebook fa-2x"></i></span></li>
                            <li><span class="padding-left-20  display-inline-b"><i class="fa fa-instagram fa-2x"></i></span></li>
                            <li><span class="padding-left-20 display-inline-b"><i class="fa fa-linkedin-square fa-2x"></i></span></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="list-inline paira-margin-bottom-1">
                            <li><span class="display-inline-b"><img src="~/Content/images/footer/payment-1.png" alt=""></span></li>
                            <li><span class="padding-left-20  display-inline-b"><img src="~/Content/images/footer/payment-2.png" alt=""></span></li>
                            <li><span class="padding-left-20 display-inline-b"><img src="~/Content/images/footer/payment-3.png" alt=""></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Footer Top Section ===================-->
    <section class="footer-bottom paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--=================== Social Icons Footer ===================-->
                    <div class="pull-left">
                        <ul class="list-inline footer-list-style footer-nav">                            
                            <li><a href="@Url.Action("About", "Home")" class="display-inline-b raleway-light">About us</a></li>
                            <li class="text-center"><i class="fa fa-minus raleway-light"></i></li>
                            <li><a href="@Url.Action("Contact", "Home")" class="display-inline-b raleway-light">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <br /><span class="pull-right">908 Andrianou Str.</span>
                        <br /><span class="pull-right">Athens, Greece</span>
                        <br /><span class="pull-right">210 000 8808</span>
                        <br /><a href=""><span class="pull-right">info@e-beverage.gr</span></a>
                        <br />
                        <p>&copy; @DateTime.Now.Year | E-Beverage. <span style="font-weight:100">All rights reserved</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>