@model IEnumerable<Entities.Products.Beer>
@{
    ViewBag.Title = "AllBeers";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        All Beers
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            <table class="table" id="example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category</th>
                                        <th>PhotoUrl</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

@section scripts{
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        LoadData();

        setTimeout(function () {
            $('#example').DataTable(
                {
                    stateSave: true,
                    stateSaveCallback: function (settings, data) {
                        localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data))
                    },
                    stateLoadCallback: function (settings) {
                        return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance))
                    },
                    paging: true,
                }
            )
        }, 1000);


        function LoadData() {
            var settings = {
                "url": "/api/Beers",
                "method": "GET",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                LoadBeers();

                function LoadBeers() {
                    let beers = response.beers;
                    for (let beer of beers) {
                        let template = `
                                          <tr id="${beer.Id}">
                                              <td>${beer.Id}</td>
                                              <td>Beer > ${beer.Category.Kind}</td>
                                              <td><img src="${beer.PhotoUrl}" alt=" " class="img-responsive" style="width:50px;" /></td>
                                              <td class="Name">
                                                  <span>${beer.Name}</span>
                                                  <input type="text" value="${beer.Name}" style="display:none"/>
                                              </td>
                                              <td>${beer.Price}€</td>
                                              <td style="width:40%">${beer.Description}</td>
                                              <td>
                                                   <button class="btn btn-info edit-btn" href="javascript:;">Edit</button>
                                                   <button class="btn btn-danger delete-btn" href="javascript:;">Delete</button>
                                                   <button class="btn btn-warning update-btn" href="javascript:;" style="display:none">Update</a>
                                                   <button class="btn btn-danger cancel-btn" href="javascript:;" style="display:none">Cancel</a>
                                             </td>
                                          </tr>
                                        `
                        let element = $(template);

                        element.find(".delete-btn").click(DeleteRow);
                        element.find(".edit-btn").click(EditRow);

                        $("tbody").append(element);
                    }
                }
            });


        }

        //Edit
        function EditRow() {
            $("body").on("click", "#example .edit-btn", function () {
                var row = $(this).closest("tr");
                $("td", row).each(function () {
                    if ($(this).find("input").length > 0) {
                        $(this).find("input").show();
                        $(this).find("span").hide();
                    }
                });
                row.find(".update-btn").show();
                row.find(".cancel-btn").show();
                row.find(".delete-btn").hide();
                $(this).hide();
            });

            //Update
            $("body").on("click", "#example .update-btn", function () {
                var row = $(this).closest("tr");
                $("td", row).each(function () {
                    if ($(this).find("input").length > 0) {
                        var span = $(this).find("span");
                        var input = $(this).find("input");
                        span.html(input.val());
                        span.show();
                        input.hide();
                    }
                });
                row.find(".edit-btn").show();
                row.find(".delete-btn").show();
                row.find(".cancel-btn").hide();
                $(this).hide();

                var beer = {};
                beer.Name = row.find(".Name").find("span").html();
                console.log(row);

            });

            //Cancel
            $("body").on("click", "#example .cancel-btn", function () {
                var row = $(this).closest("tr");
                $("td", row).each(function () {
                    if ($(this).find("input").length > 0) {
                        var span = $(this).find("span");
                        var input = $(this).find("input");
                        input.val(span.html());
                        span.show();
                        input.hide();
                    }
                });
                row.find(".edit-btn").show();
                row.find(".delete-btn").show();
                row.find(".update-btn").hide();
                $(this).hide();
            });
        }

      
        function DeleteRow() {
            let rowId = $(this).parent().parent().attr('id');

            var settings = {
                "url": "/api/Beers?id=" + rowId,
                "method": "DELETE",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                let product = response;
                let querry = "#" + product.Id;

                $(querry).hide(500, removeRow);
                function removeRow() {
                    $(querry).remove();
                }
            });
        }
    </script>
    <script type="text/javascript">

    </script>
}
