@model IEnumerable<Entities.IProduct>
@{
    ViewBag.Title = "AllProducts";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        All Products
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            <table class="table" id="example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category</th>
                                        <th>PhotoUrl</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>


@section scripts{

    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        LoadData();

        setTimeout(function () {
            $('#example').DataTable(
                {
                    stateSave: true,
                    stateSaveCallback: function (settings, data) {
                        localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data))
                    },
                    stateLoadCallback: function (settings) {
                        return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance))
                    },
                    paging: true,
                }
            )
        }, 1000);


        function LoadData() {
            var settings = {
                "url": "/api/AllProducts",
                "method": "GET",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                LoadBeers();
                LoadWines();
                LoadWhiskeys();
                LoadSpirits();

                function LoadBeers() {
                    let beers = response.beers;
                    for (let beer of beers) {
                        let template = `
                                          <tr id="${beer.Id}">
                                              <td>${beer.Id}</td>
                                              <td>${beer.Category.Title} > ${beer.Category.Kind}</td>
                                              <td><img src="${beer.PhotoUrl}" alt=" " class="img-responsive" style="width:50px;" /></td>
                                              <td>${beer.Name}</td>
                                              <td>${beer.Price}€</td>
                                              <td style="width:40%">${beer.Description}</td>
                                              <td>
                                                   <button class="btn btn-info">Edit</button>
                                                   <button class="btn btn-danger delete-btn">Delete</button>
                                             </td>
                                          </tr>
                                        `
                        let element = $(template);

                        element.find(".delete-btn").click(DeleteRow);
                        //element.find(".edit1-btn").click(Edit1Row);


                        $("tbody").append(element);
                    }
                }

                function LoadWines() {

                    let wines = response.wines;
                    for (let wine of wines) {
                        let template = `
                                        <tr id="${wine.Id}">
                                            <td>${wine.Id}</td>
                                            <td>${wine.Category.Title} > ${wine.Category.Kind}</td>
                                            <td><img src="${wine.PhotoUrl}" alt=" " class="img-responsive" style="width:50px;" /></td>
                                            <td>${wine.Name}</td>
                                            <td>${wine.Price}€</td>
                                            <td style="width:40%">${wine.Description}</td>
                                            <td>
                                                 <button class="btn btn-info">Edit</button>
                                                 <button class="btn btn-danger delete-btn">Delete</button>
                                           </td>
                                        </tr>
                                      `
                        let element = $(template);

                        element.find(".delete-btn").click(DeleteRow);
                        //element.find(".edit1-btn").click(Edit1Row);

                        $("tbody").append(element);
                    }
                }

                function LoadWhiskeys() {
                    let whiskeys = response.whiskeys;
                    for (let whiskey of whiskeys) {
                        let template = `
                                   <tr id="${whiskey.Id}">
                                       <td ">${whiskey.Id}</td>
                                       <td>${whiskey.Category.Title} > ${whiskey.Category.Kind}</td>
                                       <td><img src="${whiskey.PhotoUrl}" alt=" " class="img-responsive" style="width:50px;" /></td>
                                       <td>${whiskey.Name}</td>
                                       <td>${whiskey.Price}€</td>
                                       <td style="width:40%">${whiskey.Description}</td>
                                       <td>
                                            <button class="btn btn-info">Edit</button>
                                            <button class="btn btn-danger delete-btn">Delete</button>
                                      </td>
                                   </tr>
                                 `
                        let element = $(template);

                        element.find(".delete-btn").click(DeleteRow);
                        //element.find(".edit1-btn").click(Edit1Row);


                        $("tbody").append(element);
                    }
                }

                function LoadSpirits() {
                    let spirits = response.spirits;
                    for (let spirit of spirits) {
                        let template = `
                       <tr id="${spirit.Id}">
                           <td ">${spirit.Id}</td>
                           <td>${spirit.Category.Title} > ${spirit.Category.Kind}</td>
                           <td><img src="${spirit.PhotoUrl}" alt=" " class="img-responsive" style="width:50px;" /></td>
                           <td>${spirit.Name}</td>
                           <td>${spirit.Price}€</td>
                           <td style="width:40%">${spirit.Description}</td>
                           <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger delete-btn">Delete</button>
                          </td>
                       </tr>
                      `
                        let element = $(template);

                        element.find(".delete-btn").click(DeleteRow);
                        //element.find(".edit1-btn").click(Edit1Row);


                        $("tbody").append(element);
                    }
                }
            });


        }
        function DeleteRow() {
            let rowId = $(this).parent().parent().attr('id');
            console.log(rowId);

            var settings = {
                "url": "/api/AllProducts?id=" + rowId,
                "method": "DELETE",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                let product = response;
                let querry = "#" + product.Id;

                $(querry).hide(500, removeRow);
                function removeRow() {
                    $(querry).remove();
                }
            });
        }
    </script>
    <script type="text/javascript">

    </script>

}
