@model IEnumerable<Entities.Products.Wine>
@{
    ViewBag.Title = "AllWines";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        All Wines
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            <table class="table" id="example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category</th>
                                        <th>PhotoUrl</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

@section scripts{
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        LoadData();

        setTimeout(function () {
            $('#example').DataTable(
                {
                    stateSave: true,
                    stateSaveCallback: function (settings, data) {
                        localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data))
                    },
                    stateLoadCallback: function (settings) {
                        return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance))
                    },
                    paging: true,
                }
            )
        }, 1000);

        function LoadData() {
            var settings = {
                "url": "/api/Wines",
                "method": "GET",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                LoadWines();
                function LoadWines() {

                    let wines = response.wines;
                    for (let wine of wines) {
                        let template = `
                                        <tr id="${wine.Id}">
                                            <td>${wine.Id}</td>
                                            <td>${wine.Category.Title} > ${wine.Category.Kind}</td>
                                            <td><img src="${wine.PhotoUrl}" alt=" " class="img-responsive" style="width:50px;" /></td>
                                            <td>${wine.Name}</td>
                                            <td>${wine.Price}€</td>
                                            <td style="width:40%">${wine.Description}</td>
                                            <td>
                                                 <button class="btn btn-info">Edit</button>
                                                 <button class="btn btn-danger delete-btn">Delete</button>
                                           </td>
                                        </tr>
                                      `
                        let element = $(template);

                        element.find(".delete-btn").click(DeleteRow);
                        //element.find(".edit1-btn").click(Edit1Row);


                        $("tbody").append(element);
                    }
                }
            });

        }
        function DeleteRow() {
            let rowId = $(this).parent().parent().attr('id');
            console.log(rowId);

            var settings = {
                "url": "/api/Wines?id=" + rowId,
                "method": "DELETE",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                let product = response;
                let querry = "#" + product.Id;

                $(querry).hide(500, removeRow);
                function removeRow() {
                    $(querry).remove();
                }
            });
        }
    </script>
    <script type="text/javascript">

    </script>
}
