
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <!--mini statistics start-->
        <div class="row">
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <div class="gauge-canvas">
                                <h4 class="widget-h">Monthly Expense</h4>
                                <canvas style="width:100%; height:100px;" id="gauge"></canvas>
                            </div>
                            <ul class="gauge-meta clearfix">
                                <li id="gauge-textfield" class="pull-left gauge-value"></li>
                                <li class="pull-right gauge-title">Safe</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <div class="daily-visit">
                                <h4 class="widget-h">Daily Visitors</h4>
                                <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">

                                </div>
                                <ul class="chart-meta clearfix">
                                    <li class="pull-left visit-chart-value">0</li>
                                    <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 0%</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <h4 class="widget-h">Top Advertise</h4>
                            <div class="sm-pie">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <h4 class="widget-h">Daily Sales</h4>
                            <div class="bar-stats">
                                <ul class="progress-stat-bar clearfix">
                                    <li data-percent="50%"><span class="progress-stat-percent pink"></span></li>
                                    <li data-percent="90%"><span class="progress-stat-percent"></span></li>
                                </ul>
                                <ul class="bar-legend">
                                    <li><span class="bar-legend-pointer pink"></span> Athens</li>
                                    <li><span class="bar-legend-pointer yellow-b"></span> Piraeus</li>
                                </ul>
                                <div class="daily-sales-info">
                                    <span class="sales-count">0 </span> <span class="sales-label">Products Sold</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--mini statistics end-->
        <!--General Table Start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        General Table
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <table class="table  table-hover general-table">
                            <thead>
                                <tr>
                                    <th> Company</th>
                                    <th class="hidden-phone">Descrition</th>
                                    <th>Profit</th>
                                    <th>Status</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Graphics</a></td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                    <td>1320.00$ </td>
                                    <td><span class="label label-info label-mini">Due</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            ThemeBucket
                                        </a>
                                    </td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                    <td>556.00$ </td>
                                    <td><span class="label label-warning label-mini">Due</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
                                                <span class="sr-only">70% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            XYZ
                                        </a>
                                    </td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                    <td>13240.00$ </td>
                                    <td><span class="label label-success label-mini">Paid</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-warning">
                                                <span class="sr-only">55% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            BCSE
                                        </a>
                                    </td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                    <td>3455.50$ </td>
                                    <td><span class="label label-danger label-mini">Paid</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only">90% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">AVC Ltd</a></td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                    <td>110.00$ </td>
                                    <td><span class="label label-primary label-mini">Due</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                                <span class="sr-only">60% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Themeforest
                                        </a>
                                    </td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                    <td>456.00$ </td>
                                    <td><span class="label label-warning label-mini">Due</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <!--General Table End-->
        <!--Line chart-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Area Chart
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div id="visitors-chart">
                            <div id="visitors-container" style="width: 100%;height:300px; text-align: center; margin:0 auto;">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--Line chart-->
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading">
                        Pie Chart
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div id="pie-chart" class="pie-chart">
                            <div id="pie-chartContainer" style="width: 100%;height:400px; text-align: left;">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading">
                        Donut Chart
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div id="pie-chart-donut" class="pie-chart">
                            <div id="pie-donutContainer" style="width: 100%;height:400px; text-align: left;">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--mini statistics start-->
        <div class="row">
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
                    <div class="mini-stat-info">
                        <span>0</span>
                        Total Orders Received
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span>
                    <div class="mini-stat-info">
                        <span>0</span>
                        Copy Sold Today
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon pink"><i class="fa fa-euro"></i></span>
                    <div class="mini-stat-info">
                        <span>0</span>
                        Euro Profit Today
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                    <div class="mini-stat-info">
                        <span>3</span>
                        Unique Visitors
                    </div>
                </div>
            </div>
        </div>
        <!--mini statistics end-->
        <div class="row">
            <div class="col-md-8">
                <div class="event-calendar clearfix">
                    <div class="col-lg-7 calendar-block">
                        <div class="cal1 ">
                        </div>
                    </div>
                    <div class="col-lg-5 event-list-block">
                        <div class="cal-day">
                            <span>Today</span>
                            Friday
                        </div>
                        <ul class="event-list">
                            <li>Lunch with jhon  3:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Coffee meeting with Lisa  4:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Skypee conf with patrick  5:45 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Gym  7:00 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Dinner with daniel  9:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                        </ul>
                        <input type="text" class="form-control evnt-input" placeholder="NOTES">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-nav alt">
                    <section class="panel">
                        <div class="user-heading alt clock-row terques-bg">
                            <h1>December 14</h1>
                            <p class="text-left">2014, Friday</p>
                            <p class="text-left">7:53 PM</p>
                        </div>
                        <ul id="clock">
                            <li id="sec"></li>
                            <li id="hour"></li>
                            <li id="min"></li>
                        </ul>

                        <ul class="clock-category">
                            <li>
                                <a href="#" class="active">
                                    <i class="ico-clock2"></i>
                                    <span>Clock</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ico-alarm2 "></i>
                                    <span>Alarm</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ico-stopwatch"></i>
                                    <span>Stop watch</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class=" ico-clock2 "></i>
                                    <span>Timer</span>
                                </a>
                            </li>
                        </ul>

                    </section>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="wdgt-row">
                        <img src="~/Content/adminImages/weather_image.jpg" height="250" alt="">
                        <div class="wdt-head">
                            weather forecast
                        </div>
                        <div class="country-select">
                            <select class="styled">
                                <option>Athens </option>
                                <option>Piraeus </option>
                                <option>London </option>
                                <option>Paris </option>
                                <option>Madrid </option>
                            </select>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row weather-full-info">
                            <div class="col-md-3 today-status">
                                <h1>Today</h1>
                                <i class=" ico-cloudy "></i>
                                <div class="degree">37</div>
                            </div>
                            <div class="col-md-9">
                                <ul>
                                    <li>
                                        <h2>Tomorrow</h2>
                                        <i class=" ico-cloudy text-primary"></i>
                                        <div class="statistics">32</div>
                                    </li>
                                    <li>
                                        <h2>Mon</h2>
                                        <i class=" ico-rainy2 text-danger"></i>
                                        <div class="statistics">40</div>
                                    </li>
                                    <li>
                                        <h2>Tue</h2>
                                        <i class=" ico-lightning3 text-info"></i>
                                        <div class="statistics">25</div>
                                    </li>
                                    <li>
                                        <h2>Wed</h2>
                                        <i class=" ico-sun3 text-success"></i>
                                        <div class="statistics">37</div>
                                    </li>
                                    <li>
                                        <h2>Thu</h2>
                                        <i class=" ico-snowy3 text-warning"></i>
                                        <div class="statistics">15</div>
                                    </li>
                                    <li>
                                        <h2>Fri</h2>
                                        <i class=" ico-cloudy "></i>
                                        <div class="statistics">21</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
</section>
<!--main content end-->