
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">

       
      
       
        <div class="row">
            <div class="col-md-8">
                <div class="event-calendar clearfix">
                    <div class="col-lg-7 calendar-block">
                        <div class="cal1 ">
                        </div>
                    </div>
                    <div class="col-lg-5 event-list-block">
                        <div class="cal-day">
                            <span>Today</span>
                            Friday
                        </div>
                        <ul class="event-list">
                            <li>Lunch with jhon  3:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Coffee meeting with Lisa  4:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Skypee conf with patrick  5:45 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Gym  7:00 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                            <li>Dinner with daniel  9:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                        </ul>
                        <input type="text" class="form-control evnt-input" placeholder="NOTES">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-nav alt">
                    <section class="panel">
                        <div class="user-heading alt clock-row terques-bg">
                            <h1>December 14</h1>
                            <p class="text-left">2014, Friday</p>
                            <p class="text-left">7:53 PM</p>
                        </div>
                        <ul id="clock">
                            <li id="sec"></li>
                            <li id="hour"></li>
                            <li id="min"></li>
                        </ul>

                        <ul class="clock-category">
                            <li>
                                <a href="#" class="active">
                                    <i class="ico-clock2"></i>
                                    <span>Clock</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ico-alarm2 "></i>
                                    <span>Alarm</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ico-stopwatch"></i>
                                    <span>Stop watch</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class=" ico-clock2 "></i>
                                    <span>Timer</span>
                                </a>
                            </li>
                        </ul>

                    </section>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="wdgt-row">
                        <img src="~/Content/adminImages/weather_image.jpg" height="250" alt="">
                        <div class="wdt-head">
                            weather forecast
                        </div>
                        <div class="country-select">
                            <select class="styled">
                                <option>Athens </option>
                                <option>Piraeus </option>
                                <option>London </option>
                                <option>Paris </option>
                                <option>Madrid </option>
                            </select>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row weather-full-info">
                            <div class="col-md-3 today-status">
                                <h1>Today</h1>
                                <i class=" ico-cloudy "></i>
                                <div class="degree">37</div>
                            </div>
                            <div class="col-md-9">
                                <ul>
                                    <li>
                                        <h2>Tomorrow</h2>
                                        <i class=" ico-cloudy text-primary"></i>
                                        <div class="statistics">32</div>
                                    </li>
                                    <li>
                                        <h2>Mon</h2>
                                        <i class=" ico-rainy2 text-danger"></i>
                                        <div class="statistics">40</div>
                                    </li>
                                    <li>
                                        <h2>Tue</h2>
                                        <i class=" ico-lightning3 text-info"></i>
                                        <div class="statistics">25</div>
                                    </li>
                                    <li>
                                        <h2>Wed</h2>
                                        <i class=" ico-sun3 text-success"></i>
                                        <div class="statistics">37</div>
                                    </li>
                                    <li>
                                        <h2>Thu</h2>
                                        <i class=" ico-snowy3 text-warning"></i>
                                        <div class="statistics">15</div>
                                    </li>
                                    <li>
                                        <h2>Fri</h2>
                                        <i class=" ico-cloudy "></i>
                                        <div class="statistics">21</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
</section>
<!--main content end-->