@{
    ViewBag.Title = "About";
}

<!--=================== Main Content Container ===================-->
<main class="about-page">
    <!--=================== Breadcrumb Section ===================-->
    <section class="breadcrumb-container paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumb">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Index", "Home")" class="raleway-light">Home <i class="fa fa-angle-right"></i></a></li>
                            <li class="raleway-sbold">About us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Big Banner Section ===================-->
    <section class="big-banner paira-margin-bottom-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                    <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">About Us</h3>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <img src="~/Content/images/about/about-banner.jpg" class="img-responsive paira-margin-top-1" alt="">
                    <h1 class="text-uppercase">Our Story</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="about-content paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="about-desc paira-padding-bottom-2">
                        <h3 class="text-uppercase raleway-sbold">Mission & Vision</h3>
                        <p class="paira-margin-top-1 letter-spacing-2 margin-bottom-0">
                            As lovers of beer and other drinks, the five of us united on a quest to provide everyone with the finest beers, spirits, whiskeys and wines.
                        </p>
                        <p class="paira-margin-top-1 letter-spacing-2 margin-bottom-0">
                            You can share a cold beer with your other half on a starry summer night near the beach.
                            Find a rare Wine with smoky flavor to pair with your gourmet dishes or a sparkling rose to make a toast on your best friend's wedding.
                            Enjoy your Gin & tonic while you reminisce the good old times with your high school friends at your reunion.
                            And don't forget that you can always find time to enjoy an irish Whiskey on ice while you read your favourite book near the fireplace.
                        </p>
                        <p class="paira-margin-top-1 letter-spacing-2 margin-bottom-0">
                            Our vision is to make all of these come true for our customers and continue to unite them with their family and friends.
                        </p>
                    </div>
                    <div class="team paira-padding-bottom-2">
                        <h3 class="text-uppercase raleway-sbold">Meet my team</h3>
                        <div class="row">
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/image-4b20f54c736317724c1c25ef94566bc6751df5384cb2d7c08aefbe8aebf15b24-V.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-16 raleway-sbold  margin-top-15">Dimitrakopoulos Christos</p></a>
                                <span class="font-size-16 raleway-light">.NET Developer</span>
                            </div>
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/IMG_4178.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-18 raleway-sbold margin-top-15">Filiopoulos Nikos</p></a>
                                <span class="font-size-16 raleway-light">.NET Developer</span>
                            </div>
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/me.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-18 raleway-sbold margin-top-15">Sofia Anna</p></a>
                                <span class="font-size-16 raleway-light">.NET Developer</span>
                            </div>
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/FB_IMG_1543238849077.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-18 raleway-sbold margin-top-15">Papadatou Natalia</p></a>
                                <span class="font-size-16 raleway-light">.NET Developer</span>
                            </div>
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/ego.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-18 raleway-sbold margin-top-15">Zikos Haris</p></a>
                                <span class="font-size-16 raleway-light">.NET Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
