@{
    ViewBag.Title = "About";
}

<!--=================== Main Content Container ===================-->
<main class="about-page">
    <!--=================== Breadcrumb Section ===================-->
    <section class="breadcrumb-container paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumb">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Index", "Home")" class="raleway-light">Home <i class="fa fa-angle-right"></i></a></li>
                            <li class="raleway-sbold">About us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Big Banner Section ===================-->
    <section class="big-banner paira-margin-bottom-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                    <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">About Us</h3>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <img src="~/Content/images/about/about-banner.jpg" class="img-responsive paira-margin-top-1" alt="">
                    <h1 class="text-uppercase">Our Story</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="about-content paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="about-desc paira-padding-bottom-2">
                        <h3 class="text-uppercase raleway-sbold">Mission & Vision</h3>
                        <p class="paira-margin-top-1 letter-spacing-2 margin-bottom-0">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            Where does it come from?
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        </p>
                        <p class="paira-margin-top-1 letter-spacing-2 margin-bottom-0">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>
                    </div>
                    <div class="team paira-padding-bottom-2">
                        <h3 class="text-uppercase raleway-sbold">Meet my team</h3>
                        <div class="row">
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/image-4b20f54c736317724c1c25ef94566bc6751df5384cb2d7c08aefbe8aebf15b24-V.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-16 raleway-sbold  margin-top-15">Dimitrakopoulos Christos</p></a>
                                <span class="font-size-16 raleway-light">Owner</span>
                            </div>
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/FB_IMG_1543238849077.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-18 raleway-sbold margin-top-15">Papadatou Natalia</p></a>
                                <span class="font-size-16 raleway-light">Manager</span>
                            </div>
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/IMG_4178.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-18 raleway-sbold margin-top-15">Filiopoulos Nikos</p></a>
                                <span class="font-size-16 raleway-light">CEO</span>
                            </div>
                            <div class="col-xs-6 col-md-3 col-sm-3 paira-margin-top-1 text-center">
                                <a href="#">
                                    <img src="~/Content/images/about/me.jpg" alt="" class="img-circle" style="width:200px !important; height:200px !important">
                                </a>
                                <a href="collection.html"><p class="font-size-18 raleway-sbold margin-top-15">Sofia Anna</p></a>
                                <span class="font-size-16 raleway-light">Tester</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
