@{
    ViewBag.Title = "Index";
}


<main class="home-page">
    <!--=================== Main Slider Section ===================-->
    <section class="main-slider paira-padding-bottom-1 paira-animation-container">
        <div class="container">
            <div class="row">
                @if (ViewBag.displayMenu == "Yes")
                {
                    <h1 style="text-align:center">Welcome Admin. Now you can create user Role.</h1>
                    <h3>
                        @Html.ActionLink("Manage Role", "Index", "Role")
                    </h3>

                }
                else
                {
                    <h2 style="text-align:center">  Welcome <strong>@ViewBag.Name</strong> !</h2>
                }
            </div>
        </div>
    </section>
</main>