<!--=================== Footer Container ===================-->

    <!--=================== Footer Top Section ===================-->
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--=================== Social Icons Footer ===================-->
                    <div class="pull-left">
                        <ul class="list-inline paira-margin-bottom-1">
                            <li><a href="#" class="display-inline-b"><i class="fa fa-facebook fa-2x"></i></a></li>
                            <li><a href="#" class="padding-left-20  display-inline-b"><i class="fa fa-instagram fa-2x"></i></a></li>
                            <li><a href="#" class="padding-left-20 display-inline-b"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="list-inline paira-margin-bottom-1">
                            <li><a href="#" class="display-inline-b"><img src="~/Content/images/footer/payment-1.png" alt=""></a></li>
                            <li><a href="#" class="padding-left-20  display-inline-b"><img src="~/Content/images/footer/payment-2.png" alt=""></a></li>
                            <li><a href="#" class="padding-left-20 display-inline-b"><img src="~/Content/images/footer/payment-3.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Footer Top Section ===================-->
    <section class="footer-bottom paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--=================== Social Icons Footer ===================-->
                    <div class="pull-left">
                        <ul class="list-inline footer-list-style footer-nav">
                            <li><a href="collection.html" class="display-inline-b raleway-light">Shop</a></li>
                            <li class="text-center"><i class="fa fa-minus raleway-light"></i></li>
                            <li><a href="product.html" class="display-inline-b raleway-light">Return</a></li>
                            <li class="text-center"><i class="fa fa-minus raleway-light"></i></li>
                            <li><a href="@Url.Action("About", "Home")" class="display-inline-b raleway-light">About us</a></li>
                            <li class="text-center"><i class="fa fa-minus raleway-light"></i></li>
                            <li><a href="@Url.Action("Contact", "Home")" class="display-inline-b raleway-light">Contact</a></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <p>&copy; @DateTime.Now.Year | E-Beverage</p>
                    </div>
                </div>
            </div>
        </div>
    </section>