
@{
    ViewBag.Title = "BlogDetails";
}

<main class="blog-single-page">
    <!--=================== Breadcrumb Section ===================-->
    <section class="breadcrumb-container paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumb">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Blog", "Home")" class="raleway-light">Blog <i class="fa fa-angle-right"></i></a></li>
                            <li class="raleway-sbold">Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Blog Section ===================-->
    <section class="blog-single-content paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                    <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">Blog</h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 paira-margin-top-1">
                    <img alt="" src="~/Content/images/blog/blog-7.jpg" class="img-responsive margin-bottom-20">
                    <div class="blogs-detail">
                        <h1 class="margin-bottom-20 date letter-spacing-2">Types of whiskeys</h1>
                        <p class="margin-bottom-20 letter-spacing-2 margin-bottom-0">
                            Some whiskey styles are highly regulated and others are not. Bourbon, for instance, must meet certain criteria in order to use that name on the label. In contrast, a generically labeled "blended whiskey" can be made anywhere and use any ingredients or production methods. Each style also has its own characteristics, which attracts drinkers of different tastes.
                            <ul class="margin-bottom-20 letter-spacing-2">
                                <li class="margin-bottom-20"><strong>Blended Whiskey:</strong> The term refers to any whiskey that is a blend of various whiskeys that are already aged. Typically, it includes whiskeys distilled from different types of grains. Canadian and Irish whiskeys, as well as scotch, include blended whiskeys. It's also used for whiskeys that don't fall into any of the standard styles.</li>
                                <li class="margin-bottom-20"><strong>Single Malt Whiskey:</strong> This term is used to distinguish a whiskey that is produced at a single distillery using a single malted grain. You can find single malts in scotch, Irish and Japanese whiskeys, and whiskeys from other countries.</li>
                                <li class="margin-bottom-20"><strong>Irish Whiskey:</strong> This whiskey must be distilled in Ireland and is most often blended, though single malts are available. Typically, Irish whiskey is triple-distilled from unmalted barley and it must be aged for at least three years. The style is known for being smooth, light, and very drinkable.</li>
                                <li class="margin-bottom-20"><strong>Scotch Whisky:</strong> Scotch includes single malts made from malted barley and blended whiskeys that include grain whiskey. The signature taste is a smokiness that is imparted by drying the malt over a peat-fueled fire. Different regions of Scotland produce single malts with individual characteristics as well.</li>
                                <li class="margin-bottom-20"><strong>Bourbon Whiskey:</strong> This style can only be made in America and has some of the tightest regulations. It must be made from at least 51 percent corn, distilled to no more than 160 proof, barreled no higher than 125 proof, and aged in new, charred oak barrels. The taste varies, though most bourbon has a robust flavor.</li>
                                <li class="margin-bottom-20"><strong>Tennesse Whiskey:</strong> Most of the same stipulations for bourbon apply to Tennessee whiskey, but it must be made within the state. It also goes through a charcoal filtering called the Lincoln County Process, which mellows the whiskey while giving it a slight burnt wood flavor.</li>
                                <li class="margin-bottom-20"><strong>Canadian Whiskey:</strong> Canada is famous for blended whiskeys that are among the smoothest in the world. Rye is a favorite grain, though the whiskeys that go into the blends are made from a variety of grains. It's not uncommon for a Canadian whiskey to use 20 or more ingredients—mostly whiskey, but also things like sherry—in a blend.</li>
                                <li class="margin-bottom-20"><strong>Rye Whiskey:</strong> There is no geographical designation to rye whiskey, though much of it is made in North America. Instead, it focuses on the use of rye; smaller proportions of other grains may be used as well. Rye whiskeys tend to be bold and spicy.</li>
                                <li class="margin-bottom-20"><strong>Japanese Whisky:</strong> Japan learned how to make whiskey from Scotland, so the techniques and characteristics are very similar. It tends to focus on single malts with peaty flavors and they're considered to be very fine whiskeys.</li>
                                <li class="margin-bottom-20"><strong>Moonshine:</strong> Also called "white dog" or, in Ireland, potcheen, moonshine is unaged whiskey. Essentially, it's raw whiskey straight out of the still (possibly diluted) without the mellowness, color, or extra flavors imparted by wood barrels. It was once relegated to backwoods stills and illegally-made homemade liquor, but there is a growing legal market for it today.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
