@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="width-li"><a href="@Url.Action("LogOff", "Account")">Log off</a></li>
}
else
{
    <li class="width-li">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="width-li">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}

@*@Html.ActionLink("Hello " + User.Identity.GetUserName().Split('@')[0] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
