@model IEnumerable<Entities.IdentityUsers.ApplicationUser>
@{
    ViewBag.Title = "CustomerInformation";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Users Information
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th class="numeric">Username</th>
                                        <th class="numeric">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td class="numeric">@Html.DisplayFor(modelItem => user.UserName)</td>
                                            <td class="numeric">@Html.DisplayFor(modelItem => user.Email)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

