<style>

    .username {
        padding: 7px 7px 8px 15px;
        display: block;
    }

    .noty {
        position: relative;
        cursor: pointer;
    }

    .noty-icon {
        padding:11px;
    }
</style>
<header class="header fixed-top clearfix">
    <div class="brand">
        <a href="@Url.Action("Index", "Dashboard")" class="logo">
            <strong><i class="fa fa-glass"></i>E-Beverage</strong>
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <div class="top-nav clearfix">
        <ul class="nav pull-right top-menu">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="username"><i class="fa fa-user"></i> @this.User.Identity.Name</span>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                            
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-circle"></i> Logout</a>
                        }
                    </li>
                </ul>
            </li>
        <li>
            <div class="toggle-right-box noty">
                <div class="fa fa-bell noty-icon"></div>
            </div>
        </li>
        </ul>
    </div>


</header>
